body {
    font-family: 'Montserrat', sans-serif;
    color: #572EE5;
    border-top: 5px solid #572EE5;
    border-bottom: 5px solid #572EE5;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin: 5% 11%;
}

/*
1-HEADER, NAVEGACIÓN y FOOTER
2-BARRA BÚSQUEDA
3-CALESITA Y MODAL
4-CAPTURAR GIF
5-RESTO ESTILOS
6-MEDIA QUERY
*/


/*
***********************************************
1-HEADER, NAVEGACIÓN y FOOTER
***********************************************
*/

.desplegable {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 300; 
    left: 0;
    bottom: 0;
    opacity: 0.9;
    background-color: #572EE5;
    overflow-x: hidden;
    transition: 0.5s;
  }

.desplegable-opciones {
    position: relative;
    top: 25%; 
    width: 100%;
    text-align: center;
    margin-top: 30px; 
  }

  .desplegable hr {
      width: 20%;
      opacity: 0.4;
  }
  
  .desplegable a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    color: #FFFFFF;
    display: block; 
    transition: 0.3s; 
  }

#cerrarMenu {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    margin-top: 5%;
}

.logo {
    display: block;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background: url("../images/logo_mobile.svg") 0 0 no-repeat
}

footer {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-top: 4vh;
}

footer div {
    text-align: center;
    margin: 0 auto;
}

footer ul {
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    padding: 0 35%;
    margin-bottom: 6vh;
}

footer ul li {
    float: left;
    font-size: 16px;   
    list-style-type: none;
}


footer ul li a:link {
    color: black;
}

footer ul li a:visited {
    color: black;
}

footer a {
    text-decoration: none;
}

.iconoFB {
    background: url("../images/footer/icon_facebook.svg") 0 0 no-repeat;
}

.iconoFB:hover {
    background: url("../images/footer/icon_facebook_hover.svg") 0 0 no-repeat;
}

.iconoTW {
    background: url("../images/footer/icon_twitter.svg") 0 0 no-repeat;
}

.iconoTW:hover {
    background: url("../images/footer/icon_twitter_hover.svg") 0 0 no-repeat;
}

.iconoIG {
    background: url("../images/footer/icon_instagram.svg") 0 0 no-repeat;
}

.iconoIG:hover {
    background: url("../images/footer/icon_instagram_hover.svg") 0 0 no-repeat;
}

.enlaceCaptura {
    background: url("../images/captura/button_crear_gifo.svg") 0 0 no-repeat;
    width: 70px;
    height: 70px;
}

.enlaceCaptura:hover {
    background: url("../images/captura/button_crear_gifo_hover.svg") 0 0 no-repeat;
}

.enlaceCaptura:active {
    background: url("../images/captura/button_crear_gifo_active.svg") 0 0 no-repeat;
}


/*
***********************************************
2-BARRA BÚSQUEDA
***********************************************
*/

form {
    position: relative;
    border: 1px solid #572EE5;
    border-radius: 27px;
    padding: 0;
    width: 90vw;
    margin: 0 auto;

}

form hr {

    display: none;
}

form ul {
    display: none;
    margin: 0;
    padding: 0;
}

#busqueda img {
    max-width: 75%;
    display: block;
    margin: 0 auto;
}

#busqueda input[type="search"] {
    display: block;
    margin: 0 auto;
    width: 90vw;
    line-height: 50px;
    border: 1px solid transparent;
    border-radius: 27px;
    font-size: 16px;
    padding-left: 20%;
}

#busqueda input[type="search"]:valid + input:nth-of-type(2) {
    background: url("../images/search_grey.svg") 0 0 no-repeat;
    right: 0;
    left: 30px;
    padding: 0;
}

.iconoBusqueda {
    background: url("../images/search.svg") 0 0 no-repeat;
    height: 21px;
    padding: 12px;
    position: absolute;
    right: 40px;
    top: 15px;
    width: 21px;
    border: 0;
    cursor: pointer;
}

#busquedasSugeridas {
    position: relative;
    left: 30px;
}

.opcionesBusquedasSugeridas {
    background: url("../images/search_grey.svg") 0 0 no-repeat;
    padding-left: 30px;
    list-style: none;
    line-height: 30px;
    color: #9CAFC3;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
    position: absolute;
    right: 10px;
    top: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 35px;
    width: 35px;
    background: url("../images/close.svg") 0 0 no-repeat;
} 

.busqueda {
    color: #000000;
}

.barraBusqueda::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-indent: 10px;
  }

/*
***********************************************
3-CALESITA y MODAL
***********************************************
*/

#calesitaCompleta { 
    position: relative;
    overflow: hidden;
}

#calesita {
    position: relative;
    max-width: 70%;
    height: 300px;
    margin: 0 auto;
    display:flex;
}

#imagenesCalesita {
    position: absolute;
    width: 450px;
    height: 280px;
    overflow-x: scroll;
}


.contenedorTrending {
    width: 400px;
    height: 200px;
    padding-top: 35px;
    float: left;
    text-align: center;
    font-size: 60px;
    display: flex;
    margin-left: 0;
}

#calesita p {
    display: none;
}

.flecha {
    display: none; 
}

#flechaIzquierdaModal {
    display: inline-block;
    position: absolute;
    bottom: 30vh;
    left: 10vw;
    width: 50px;
    height: 50px;
    background: url("../images/button_slider_left.svg") 0 0 no-repeat;
}

#flechaIzquierdaModal:hover {
    background: url("../images/button_slider_left_hover.svg") 0 0 no-repeat;
}

#flechaDerechaModal {
    display: inline-block;
    position: absolute;
    bottom: 30vh;
    right: 10vw;
    width: 50px;
    height: 50px;
    background: url("../images/button_slider_right.svg") 0 0 no-repeat;
}

#flechaDerechaModal:hover {
    background: url("../images/button_slider_right_hover.svg") 0 0 no-repeat;
}


.modal span {
    min-width: 30px;
    min-height: 30px;
}

#cerrarModal {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 5vh;
    right: 5vw;
    background: url("../images/icon_close.svg") 0 0 no-repeat;

}

#guardarGif {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right: 20vw;
    padding: 0 20px;
    background: url("../images/icon_fav.svg") 0 0 no-repeat;
}

#guardarGif:hover {
    background: url("../images/icon_fav_hover.svg") 0 0 no-repeat;
}


#guardarGif:active {
    background: url("../images/icon_fav_active.svg") 0 0 no-repeat;
}


#descargarGif {
    display: none;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right: 5vw;
    background: url("../images/icon_download.svg") 0 0 no-repeat; 
}

#descargarGif:hover {
    background: url("../images/icon_download_hover.svg") 0 0 no-repeat;
}

.modalGifImagen {
    position: absolute;
    top: 20vh;
    left: 5vw;
    width: 300px;
    height: 300px;
    min-height: 260px;
    max-height: 300px;
}

.modal {
    display: none;
    position: relative;
}

.modalGifContenedor {
    display: block;
    background: #FFF;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
}

.epigrafeModal {
    position: absolute;
    bottom: 10vh;
    left: 10vw;
    font-weight: bold;
}

.epigrafeModal:nth-of-type(2) {
    bottom: 20vh;
}
   
.gifTrending {
    width: 240px;
    height: 190px;
}

.contenedorImagenTrending {
    width: 240px;
    height: 190px;
    position: relative;
    margin-right: 32px;
}

.contenedorImagen {
    margin: auto;
    width: 150px;
    height: 150px;
    position: relative;
}

.contenedorIconosModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
}

.iconoEnOverlayDescargar {
  position: absolute;
  cursor: pointer;
  background: url("../images/icon_download.svg") 0 0 no-repeat;
  width: 35px;
  height: 35px;
  top: 5%;
  left: 45%;
}

.iconoEnOverlayDescargar:hover {
    background: url("../images/icon_download_hover.svg") 0 0 no-repeat;
  }

.iconoEnOverlayFavorito {
    background: url("../images/icon_fav.svg") 0 0 no-repeat;
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5%;
    left: 20%;
  }

.iconoEnOverlayFavorito:hover {
    background: url("../images/icon_fav_hover.svg") 0 0 no-repeat;
}

  .iconoEnOverlayFavorito:active {
    background: url("../images/icon_fav_active.svg") 0 0 no-repeat;
}

.iconoEnOverlayBorrar {
    background: url("../images/icon_trash.svg") 0 0 no-repeat;
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 5%;
    left: 20%;
  }

.iconoEnOverlayBorrarMob {
    top: unset;
    left: unset;
    bottom: 40px;
    right: 30vw;
    }

  .iconoEnOverlayBorrar:hover {
    background: url("../images/icon_trash_hover.svg") 0 0 no-repeat;
}

  .iconoEnOverlayPantallaCompleta {
    background: url("../images/icon_max.svg") 0 0 no-repeat;
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 35px;
    top: 5%;
    left: 70%;
  }

  .iconoEnOverlayPantallaCompleta:hover {
    background: url("../images/icon_max_hover.svg") 0 0 no-repeat;
  }


#descargarGifSubido {
    top: 30%;
    left: 60%;
    z-index:10;

}

.iconoEnOverlayEnlazar {
    background: url("../images/icon_link.svg") 0 0 no-repeat;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 30%;
    left: 70%;
    z-index:10;
  }

.iconoEnOverlayEnlazar:hover {
    background: url("../images/icon_link_hover.svg") 0 0 no-repeat;
}
  
/*
***********************************************
4-CAPTURAR GIF

***********************************************
*/

#enlaceCaptura {
    margin: 0 auto;
}

#camaraCaptura, #cintaCaptura {
    display: none;
}

#contenedorCaptura {
    position: relative;
}

#contenedorVioleta {
    border: 1px solid #572EE5;
    max-width: 95vw;
    height: 50vh;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#video, #permisoCaptura, #iniciarCaptura, #finalizarCaptura, #statusSubida, #textoSubida {
    display: none;
}

#camaraCaptura {
    position: absolute;
    left: 2vw;
}

#cintaCaptura {
    top: 50%;
    position: absolute;
    right: 2vw;
    animation-duration: 5s;
}

@keyframes moverCinta {
    0% { 
        transform: rotate(0deg); 
    }

    50% {
        transform: translateY(-300px) rotate(180deg)
    }
    
    100%   { 
        transform: rotate(360deg);
    }
}

.barraGruesa {
    background: #572EE5;
    width: 75%;
    height: 5px;
    margin: 0.5em auto;
}

#marcoRecortado {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
}

#marcoRecortado svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

#pasos {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    max-width: 430px;
    flex-wrap: wrap;
}

#cronometro {
    justify-self: right;
    white-space: nowrap;
    flex-basis: 100%;    
}

#contenedorVideo {
    margin: 0 auto;
    padding: 0;
    position: relative;
    max-width: 480px;
}

video {
    max-width: 80vw;
    max-height: 320px;
    margin: 0 auto;
}

#textoSubida {
    position: absolute;
    left: 20%;
    top: 50%;
}

#statusSubida {
    margin: 0 auto;
    min-width: 30px;
    max-width: 50px;
    position: absolute;
    left: 45%;
    top: 45%;
    z-index: 10;
}

/*
***********************************************
5-RESTO ESTILOS
***********************************************
*/

.gifChico {
    width: 150px;
    height: 150px;
    padding: 0;
}

#trendingTopics {
    margin: 0 20%;
    margin-bottom: 4%;
}

#trendingTopics p {
    line-height: 25px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

#trendingTopics p:nth-of-type(2) {
    font-size: 14px;
    font-weight: 500;
}

#resultadosBusqueda, #favoritos, #misGifos, #captura, #cronometro, #subirCaptura, #iconosSubida, #cerrarCaptura{
    display: none;
    text-align: center;
}

.contenedorEnBandas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    justify-content: space-evenly;
}

#resultadosBusqueda img {
    margin: auto;
    display: block;
}

.VerMasContenedor {
    margin: 3% auto;
}

#verMasGif, #verMasGifFavs, #verMasGifMisGifos {
    display: none;
}

.botonRedondeado {
    border-radius: 25px;
    background: #FFF;
    border: 1px solid #572EE5;
    color: #572EE5;
    font-weight: 700;
    font-size: 13px;
    height: 40px;
    width: 110px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.botonRedondeado:hover {
    color: #FFF;
    background: #572EE5;
}

.fondoOscurito {
    background: #F3F5F8;
}

#trendingGifos {
    text-align: center;
    padding-top: 5%;
    margin: 0;
}

#trendingGifos h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.trendingGifos p {
    font-weight: 400;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.textoVioletaTitulo {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #572EE5;
}

.textoVioletaNegrita {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #572EE5;
}

#repetirCaptura:hover {
    border-bottom: 3px solid #50E3C2;
}

.textoVerde {
    color: #50E3C2;
}

.textoVerdeResultados {
    font-size: 22px;
    color: #50E3C2;
    font-weight: bold;
}

.textoNegro {
    color: #000000
}

.textoBlanco {
    font-size: 15px;
    color: #FFF;
    font-weight: bold;
}

.mensajeResultadosGrid {
    grid-column: 1/5
}

.centradoMargin {
    display: blocK;
    margin: 0 auto;
}


/*
***********************************************
6-MEDIA QUERY
***********************************************
*/



@media (min-width: 768px) {
    body {
        margin: 0;
        }

    .logo {
        background: url("../images/logo_desktop.svg") 0 0 no-repeat
    }

    #abrirMenu {
        display: none;
    }
    
    form {
        max-width: 40vw;
    }

    form input {
        max-width: 40vw;
    }

    .desplegable {
        width: 100%;
        position: static;
        background: transparent;
    }  

    .desplegable-opciones {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        min-width: 500px;
    }

    .desplegable-opciones hr {
        display: none;
    }

    .desplegable a {
        color: #572EE5;
    }

    .desplegable a:hover {
        border-bottom: 4px solid #50E3C2;
    }

    .desplegable a:hover:last-of-type {
        border-bottom: none;
    }

    .desplegable a:active {
        color: #9CAFC3;
    }
      
    #enlaceCaptura {
        margin: unset;
    }

    video {
        max-width: 480px;
        max-height: 320px;
        margin: 0 auto;
    }

    #textoSubida {
        left: 30%;
    }

    #statusSubida {
        left: 50%;
    }

    #cronometro {
        flex-basis: unset;
    }

    #paso1 {
        padding-left: 50px;
    }
    
    #paso3 {
        padding-right: 50px;
    }

    .barraGruesa {
        width: 55%;
    }

    #camaraCaptura, #cintaCaptura {
        display: initial
    }

    #contenedorVioleta {
        width: 50vw;
    }

    #calesita {
        overflow: hidden;
        height: 400px;
    }

    #calesita p {
        display: initial;
    }

    #imagenesCalesita {
        width: 500px;
        height: 350px;
        overflow-x: unset;
    }

    .contenedorTrending {
        width: 350px;
        height: 275px;
    }
    
    .gifTrending {
        width: 350px;
        height: 275px;
    }

    .flecha {
        display: inline-blocK;
        margin-top: -8%;
    }

    #flechaIzquierdaModal {
        position: absolute;
        top: 40%;
        right: 2vw;
    }
    
    #flechaDerechaModal {
        position: absolute;
        top: 40%;
        right: 2vw;
    }

    .flechaIzquierda {
        cursor: pointer;
        position: absolute;
        top: 75%;
        left: 2vw;
        width: 50px;
        height: 50px;
        background: url("../images/button_slider_left.svg") 0 0 no-repeat;
    }

    .flechaIzquierda:hover {
        background: url("../images/button_slider_left_hover.svg") 0 0 no-repeat;
    }

    .flechaDerecha {
        cursor: pointer;
        position: absolute;
        top: 75%;
        right: 2vw;
        width: 50px;
        height: 50px;
        background: url("../images/button_slider_right.svg") 0 0 no-repeat;
    }

    .flechaDerecha:hover {
        background: url("../images/button_slider_right_hover.svg") 0 0 no-repeat;
    }

    .contenedorImagen {
        width: 260px;
        height: 200px;
    }

    .contenedorImagenTrending {
        width: 350px;
        height: 275px;
    }
    
    .gifChico {
        opacity: 1;
        display: block;
        transition: .5s ease;
        width: 260px;
        height: 200px;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        }

    footer div {
        display: flex;
        flex-direction: row;
        margin: 0;
        margin-left: 10%;
        white-space: nowrap;
        }

    footer p:nth-of-type(1) {
        margin-right: 10%
        }

    footer ul {
        padding-left: 0px;
        padding: 0 20px;
        margin-bottom: 0;
        }

    footer ul li {
        float: none;
        padding: 0 10px;
    }

    #guardarGif {

        bottom: 10vh;
        right: 20vw;
        padding: 0 20px;
    }

    .iconoEnOverlayBorrarMob {
        bottom: 10vh;
    }

    #descargarGif {
        bottom: 10vh;
        right: 5vw;

    }

    .modalGifImagen {
        position: unset;
        max-width: 60vw;
        max-height: 60vh;
        display: block;
        margin: 5% auto;
    }

    .epigrafeModal {
        bottom: 8vh;
    }

    .epigrafeModal:nth-of-type(2) {
        bottom: 16vh;
    }

    .epigrafeModalDesk {
        position: absolute;
        bottom: 15%;
        left: 10%;
        font-size:14px;
        color: #FFF;
    }

    .epigrafeModalDesk:nth-of-type(2) {
        bottom: 5%;
        font-weight: bold;
        overflow: hidden;
    }

    .contenedorEnBandas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;
        justify-content: space-evenly;
    }
    

}    

